# Build Artifacts
*.so
*.o
*.a
src/tarantool/fraud_utils.so

# Tarantool runtime files
*.snap
*.xlog
/512/
/513/
*.lock
tarantool.pid

# Logs
*.log
transactions.log

# Go
tests/go/benchmark
vendor/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Local env
.env
